services:
  # PostgreSQL Database
  db:
    image: postgres:18
    container_name: inst_parser_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - inst_parser_network
  redis:
    image: redis:8
    container_name: inst_parser_redis
    restart: unless-stopped
    command:
      ["redis-server", "--maxmemory 200mb", "--maxmemory-policy", "allkeys-lru"]
    volumes:
      - redisdata:/var/lib/redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - inst_parser_network

  api:
    container_name: inst_parser_api
    build:
      context: .
      target: api
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    networks:
      - inst_parser_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  bot:
    container_name: inst_parser_bot
    build:
      context: .
      target: bot
    depends_on:
      api:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - inst_parser_network

volumes:
  pgdata:
  redisdata:

networks:
  inst_parser_network:
    driver: bridge
